body {
    background-color: rgba(80, 169, 183, 0.452);
    border-radius: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 50px;
}

.jumbotron {
    background-color: #FED766
}

.header {
    background-color: #FED766;
}

.about-you {
    background-color: #FED766;
}

.questions {
    background-color: #FED766;
}

.modal-color {
    background-color: rgba(80, 169, 183, 0.452);
}

img {
    border-radius: 50%;
    height: 180px;
}